{{ define "list_board" }}
    <div class="col-lg-8 board">

        {{ template "article-panel" . }}
        {{ template "article-panel" . }}
        {{ template "article-panel" . }}

        {{ template "paginations" . }}

    </div>
{{ end }}