{{ define "paginations"}}
    <div class='paginations'><span class="page-numbers current">1</span><a
                href='https://test.misaka.cc/page/2'>2</a><a href='https://test.misaka.cc/page/3'>3</a><a
                href='https://test.misaka.cc/page/4'>4</a><a href='https://test.misaka.cc/page/5'>5</a><span
                class="page-numbers dots">…</span><a href='https://test.misaka.cc/page/9'>9</a><a
                href="https://test.misaka.cc/page/2" class="next" title="下一页"><i class="kicon i-rarrows"></i></a>
    </div>
{{ end }}