{{ define "w-category" }}
    <div class="widget widget_categories">
        <div class="title">分类目录</div>
        <ul>
            <li class="cat-item cat-item-3"><a
                        href="https://test.misaka.cc/post/category/%e5%88%86%e7%b1%bb2">分类2</a>
            </li>
            <li class="cat-item cat-item-4"><a
                        href="https://test.misaka.cc/post/category/%e5%88%86%e7%b1%bb3">分类3</a>
            </li>
            <li class="cat-item cat-item-9"><a href="https://test.misaka.cc/post/category/photos">图册</a>
            </li>
            <li class="cat-item cat-item-10"><a href="https://test.misaka.cc/post/category/note">学习笔记</a>
            </li>
            <li class="cat-item cat-item-11"><a href="https://test.misaka.cc/post/category/%e5%ba%93">库</a>
            </li>
            <li class="cat-item cat-item-12"><a href="https://test.misaka.cc/post/category/playplay">折腾</a>
            </li>
            <li class="cat-item cat-item-1"><a href="https://test.misaka.cc/post/category/uncategorized">未分类</a>
            </li>
            <li class="cat-item cat-item-13"><a href="https://test.misaka.cc/post/category/talk">杂谈</a>
            </li>
            <li class="cat-item cat-item-14"><a href="https://test.misaka.cc/post/category/nonsense">瞎**扯</a>
            </li>
            <li class="cat-item cat-item-15"><a href="https://test.misaka.cc/post/category/others">碎碎念</a>
            </li>
            <li class="cat-item cat-item-16"><a href="https://test.misaka.cc/post/category/projects">项目跟踪</a>
            </li>
        </ul>

    </div>
{{ end }}